#menuBG {
    width: 600px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 600px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 20px auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

.middle {
    width: 200px;
    height: 200px;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 185px;
    width: 100px;
    height: 40px;
}

body {
    background-color: white;
    background-image: linear-gradient(0deg, transparent 50%, royalblue 50%);
    background-size: 300px 300px;
    background-repeat:repeat;
}

h1 {
    font-family: 'Gill Sans';
    color: Yellow;
    text-align: center;
    font-size: 5vw;
    opacity: 1;
    transition: 1s opacity;
    
}

h1.fade-out {
    opacity: 0;
    transition: none;
}

h3 {
    font-family: 'Geneva';
    color: darkslategray;
    font-weight: bolder;
}

div {
    color: black;
    font-family: 'Gill Sans';
}
